[Desktop Entry]
Type=Application
Name=Sxiv Image Viewer
GenericName=Image Viewer
Exec=sxiv-open %F
Terminal=false
Categories=Graphics
MimeType=inode/directory;image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/svg+xml;image/tiff;image/x-bmp;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-tga;image/x-xpixmap;image/webp;
Icon=sxiv
